.row-container{
    margin: 5% 7% 5% 7%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    opacity: 1;   
}

.col-container{
    display: flex;
    flex-direction: row;
    border-radius: 31px;
    padding: 0;
}

.customerinfo-billing-container{
    padding: 2% 0% 0% 3%;
}

.billing-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 0%;
    margin-right: 3%;
}


.billing-profile img{
    width: 25px;
    height: 30px;
    background-color: #fff;
}

.billing-profile h2{
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #707070;
    background-color: #fff;
    padding: 0%;
    margin: 0%;
    margin-left: 2%;
}


.customerinfo-billing h2{
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #707070;
    padding: 0%;
    margin: 0%;
}

.customerinfo-billing{
    border-radius: 30px;
    padding: 4% 4% 4% 6%;
}

.add-billing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px dashed #707070;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 4%;
}

.add-billing img{
    width: 35px;
    height: 35px;
}

.add-billing h2{
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #534C65;
    margin-left: 2%;
}

.form-billing{
    padding: 0% 0%;
}

.billing-field{
    margin-top:2%;
    display: flex;
    flex-direction: column;
}

.billing-field label{
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #707070 !important;
    margin: 0;
}

.billing-field input{
   border: 0;
   border-bottom: 1px solid #707070;
   padding-bottom: 5%;
   font-family:  "Helvetica Neue";
   font-weight: 400;
   color: #707070 !important;
   width: 90%;
}

.billing-field select{
    appearance: none;
    background-image: url('../icons/arrow.png');
    background-repeat: no-repeat;
    border: 1px solid #707070;
    background-position: 97% 50%;
    border-radius: 10px;
    padding: 5%;
    font-family:  "Helvetica Neue";
    font-weight: 400;
    color: #707070 !important;
    width: 90%;
 }

.billing-field input[type=number]::-webkit-inner-spin-button, 
.billing-field input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.billing-field-netword select{
    appearance: none;
    padding: 2%;
    width: 97%;
    background-position: 99% 50%;
    font-weight: bold;
    text-align: center;
}

.list-billing-items-general{
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.list-billing-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 1% 4%;
    justify-content: space-between;
    border-radius: 20px 0px 0px 20px;
}

.list-billing-items img{
    width: 25px;
    height: 30px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.list-billing-items p{
    padding-top: 1%;
    color: #534C65;
    font-weight: bold;
    font-family:'Source Sans Pro';
    font-size: 18px;
    margin-bottom:0 ;
}

.list-billing-items p,
.list-billing-items img{
    background-color: #fff;
}

.list-billing-items-general button{
    padding-top: 1%;
    border-radius: 0% ;
    background-color:  #FDF8ED;
    border-radius: 0px 20px 20px 0px;
}

.list-billing-items-general button p{
    color: #ED8275;
    font-weight: bold;
    font-size: 18px;
    background-color:  #FDF8ED;
    margin-bottom: 0;
}

.list-billing-items-general button img{
    background-color:  #FDF8ED;
}

.container-files{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.saved-gallery,
.saved-photo{
    display: flex;
    flex-direction: row;
    padding: 2% 1%;
    margin: 0;
    border:1px dashed #BABABA;
    border-radius: 24px;
}


.saved-gallery-img img,
.saved-photo-img img{
    width: 70px;
    height: 70px;
}

.saved-gallery-file,
.saved-photo-file{
    margin-left: 4%;
}

.saved-gallery-file span,
.saved-photo-file span{
   font-size: 12px;
   color:#707070;
   font-weight: 100;
   font-family: Source Sans Pro;
   padding: 0;
   margin: 0;

}

.saved-gallery-file-input p,
.saved-photo-file-input p{
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 14px;
    color:#F08476;
    padding: 0;
    margin: 0;
}

.saved-gallery-file-input,
.saved-photo-file-input{
    position: relative;
    padding: 4%;
    width: 100%;
    background-color: #e8e8e8;
}


.saved-gallery-file-input input,
.saved-photo-file-input input{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}



.btn-billing-options{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #fff;
    background-color: #F08377;
    border-radius: 8px 8px 8px 8px;
    width: 100px;
    height: 30px;
    padding:0 !important;
}

.btn-billing-next{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #fff;
    background-color: #F08377;
    border-radius: 8px 0px 0px 0px;
    margin-left: 86%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.btn-billing-next img{
    background-color: #F08377;
    margin-left: 2%;
}

.btn-link-billing2{
    margin-left: 61%;
    margin-top: 2%;
}

.btn-billing2-next{
padding-bottom: 0;
margin-bottom: 0;
}


.btn-billing2-next img{
    background-color: #F08377;
    margin-left: 0%;
    width: 55%;
    padding:0;
}

.btn{
    color: #fff !important;
}

.btn-link-billing:hover{
    text-decoration: none;
}