
.row-container{
    margin: 5% 7% 5% 7%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    opacity: 1;   
}

.login-container{
    padding: 4% 0%;
}

.col-container{
    display: flex;
    flex-direction: row;
    border-radius: 31px;
    padding: 0% 0%;
}

.form-login{
    padding: 4% 15%;
}

.register-login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-right: 3%;
}

.register-login .register-login-btn{
    border: 0;
    margin-left: -24%;
}

.register-login .img-circle{
    margin-left: 19%;
}

.register-login button h2{
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #534C65 !important;
    padding: 0%;
    margin: 0%;
}


.form-login  h1{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #534C65 !important;
    font-size: 40px;
}

.form-login  p{
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 16px;
    color: #707070;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.form-login .icons-reds{
    display: none;
    justify-content:space-around ; 
    margin-top: 5%;
    padding-bottom: 7%;
    border-bottom: 1px solid #707070;
}


.form-login .icons-reds img{
    width: 85%;
    background-color: #fff;
    
}

.form-login .login-field{
    margin-top:2%;
    display: flex;
    flex-direction: column;
}

.form-login .login-field label{
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #707070 !important;
}

.form-login .login-field input{
   border: 0;
   border-bottom: 1px solid #707070;
   padding-bottom: 3%;
   font-family:  "Helvetica Neue";
   font-weight: 400;
   color: #707070 !important;
}


.form-login .login-field input[type='number']{
-webkit-appearance: none;
 }

 .form-login .login-field input[type='number']{
    -moz-appearance: textfield;
     }

.password-forget{
    margin-top: 4%;
}

.password-forget button{
font-family: 'Helvetica Neue';
font-size: 14px;
color: #544B66;
font-weight:bold;
border: 0;
text-decoration: underline;
padding: 0 15%;
}

.checkbox-login{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center
}

.checkbox-login input{
    margin-right: 1%; 
    border: 0; 
}

.login-register{
    margin-top: 3%;
}

.login-register p{
    font-weight: 400;
    color: #544B66;
    font-family:'Helvetica Neue';
    font-size: 14px;
    padding: 0 15%;
}
.login-register p span{
    font-weight: bold;
    color: #F08575;
    font-family:'Helvetica Neue';
    font-size: 14px;
}

.login-register p a:hover{
    text-decoration: none;
}

.btn-login{
    background-color:#F08575 !important;
    width: 30%;
    position: absolute;
    border: 0;
    bottom: 0;
    right: 0;
    color: #ffff;
    padding: 2% 0%;
    border-radius: 10px 0px 0px 10px;
}

@media (max-width: 767px){
    
    .container .row-container{
        margin:0%;
        border-radius: 0px;
    }
    .container .row-container .col-container{
        flex-direction: column;
        position: relative;
    }

    .register-login {
        display: none !important;
    }
    .login-register p {
        margin-bottom: 45px;
    }
    .login-container .btn-login img {
        width: 30%;
        left: 40%;
        margin-left: 0%;
        margin-top: 0%;
 
    }
    .login-container .btn-login{
        margin-bottom: 10px;
    }

    .form-login {
        padding: 0% 7% !important;
    }


}

