.modalOne{
    background-color: #90909073;
}

.modal-dialog{
  margin: 10% 32%;
  padding: 2%;
  background-color:#EFF1F8;
  border-radius: 20px;
}

.modal-dialog-2{
  margin: 10% 32%;
  padding: 2%;
  background-color:#EFF1F8;
  border-radius: 20px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 20px;
  outline: 0;
}

.modal-content-ticket{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 20px;
  outline: 0;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 20px 20px 0 0;
  border: 0;
}

.modal-header button img {
    vertical-align: middle;
    border-style: none;
    border-radius: 0px 20px 0px 0px;
    background-color: #f08575;
    width: 70%;
}

.modal-header .btn-close{
  padding: 16px ;
  margin: -32px -37px -32px auto;
  background-color: transparent;
}


.modal-body{
padding: 0% 10%;
display: flex;
flex-direction: column;
justify-content: center;
}

.modal-body .img-pass{
  width: 40px;
  height: 50px;
  margin-left: 40%;
}

.modal-body h2{
color: #707070;
font-weight: bold;
font-family: 'Source Sans Pro';
font-size: 18px;
text-align: center;
}

.modal-body .text-pass{
  font-weight: 100;
  text-decoration: none;
  color: #707070;
  text-align: center;
  font-size: 18px;
}


.modal-body .datas-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 10px;
}

.modal-body .datas-email label{
  color: #707070;
  font-weight: bold;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}

.modal-body .datas-email input{
border: 0;
color: #707070;
font-size: 18px;
border-bottom: 1px solid #707070;
padding-bottom: 2%;
}

.modal-footer {
  justify-content: center;
}

.modal-footer button{
  background-color: #F08575;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-decoration: none;
  margin-top: 2%;
  font-size: 16px;
}

/*------- STYLE EDIT MODAL PROFILE------------- */
.modal-header .btn-close-profile{
  padding: 16px ;
  margin: -32px -8px -32px auto;
  background-color: transparent;
  border: 0;
}

.modal-header .btn-close-profile img {
  vertical-align: middle;
  border-style: none;
  border-radius: 0px 20px 0px 0px;
  background-color: #f08575;
  width: 70%;
  height: 70%;
}

.modal-body .form-group{
  display: flex;
  flex-direction: column;
 justify-content: center;
}

.modal-body .form-group label{
  color: #707070;
  font-weight: bold;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  text-align: center;
}

.modal-body .form-group input{
  color: #707070;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #707070;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.modal-body .form-group  input[type='number']::-webkit-inner-spin-button, 
.modal-body .form-group input[type='number']::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.modal-body .form-group  input[type=number] { 
  -moz-appearance: textfield; 
}

.modal-footer .btn-footer-profile{
  background-color: #f08476;
  border-radius: 10px 10px 10px 10px;
  width: 30%;
  color: #fff;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-decoration: none;
  margin-top: 2%;
  font-size: 16px;
}


/*------- STYLE EDIT MODAL TERM------------- */

.modal-dialog-term{
  /* margin: 10% 32%; */
  width: 700px;
  margin: 50px auto;
  padding: 2%;
  background-color:#EFF1F8;
  border-radius: 20px;
}

.modal-dialog-2-term{
  margin: 10% 32%;
  padding: 2%;
  background-color:#EFF1F8;
  border-radius: 20px;
}

.modal-header .btn-close-term{
  padding: 16px;
  margin: -32px -37px -32px auto;
  background-color: transparent;
  border: 0;
}

.modal-body-content-term h2{
  text-align:left;
}

.modal-body-content-term {
  padding: 0% 4%;
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
}

.modal-footer{
  border-top: none;
}

.pdf-modal{
  width: 420px;
  height: 400px;
}

/*------- STYLE EDIT MODAL BILLING------------- */

.modal-body-billing{
  display: flex;
  flex-direction: row;
  padding: 0%;
  border-radius: 20px 20px 20px 20px;
}

.modal-dialog-billing{
  margin: 10% 12% 10% 30%;
}

.modal-dialog-ticket {
  margin: 10% 23% 10% 35%;
}

.modal-body-billing-one{
  text-align: center;
  border-right: 1px dashed #707070;
  padding:8% 1% 2% 1%;
  width: 40%;
  border-radius: 20px 0px 0px 20px;
}

.modal-body-billing .modal-body-billing-one img{
  margin-bottom: 4%;
}

.modal-body-ticket .modal-body-ticket-one img{
  margin-bottom: 4%;
}

.modal-body-billing-two{
  border-radius: 0px 20px 20px 0px;
}

.modal-body-ticket-two{
  border-radius: 0px 20px 20px 0px;
}

.modal-body-billing-two .btn-close-billing{
  margin-left:90%;
  background-color:transparent;
  border: none;
}

.modal-body-ticket-two .btn-close-ticket{
  margin-left:90%;
  background-color:transparent;
  border: none;
}

.modal-body-billing-two button img{
width: 70%;
margin: -10% 0% 0% 28%;
border-radius: 0px 10px 0px 0px;
}

.modal-body-ticket-two button img {
  width: 70%;
  margin: -10% 0% 0% 44%;
  border-radius: 0px 10px 0px 0px;
}

.modal-body-billing-two-two{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  padding: 0% 2% 3% 2%;
}

.modal-body-ticket-two-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  padding: 0% 1% 3% 15%;
}

.modal-body-billing-two-one{
  width: 50%;
}

.modal-body-ticket-two-one{
  width: 50%;
  margin-bottom: 15px;
}

.modal-body-billing-two-one label{
  font-weight: 400;
  font-size: 16px;
  margin-top: 2%;
  font-family: 'Source Sans Pro';
  color: #707070;
}

.modal-body-ticket-two-one label{
  font-weight: 400;
  font-size: 16px;
  font-family: 'Source Sans Pro';
  color: #707070;
}



.modal-body-billing .modal-body-billing-one h2{
  font-size: 18px;
}

.modal-body-ticket .modal-body-ticket-one h2{
  font-size: 18px;
}

.modal-body-billing-two-two .modal-body-billing-two-one h2{
  font-size: 18px;
}

.modal-body-ticket-two-two .modal-body-ticket-two-one h2{
  font-size: 18px;
}

@media (max-width: 767px){

  .modal-dialog{
    margin: 10% 9%;
  }
  
  .modal-dialog-2 {
    margin: 25% 5%;
    padding: 4%;
  }

  .pdf-modal{
    width: 440px;
  }
}

@media (max-width: 592px){

  .modal-body-ticket-two button img {
    width: 70%;
    margin: -11% 0% 0% 31%;
    border-radius: 0px 10px 0px 0px;
}

.modal-dialog-term{
  width: 90%;
}


.pdf-modal{
  width: 100%;
}
  
}