.modalOne{
    background-color: #90909073;
}

.modal-dialog{
  margin: 10% 32%;
  padding: 2%;
  background-color:#EFF1F8;
  border-radius: 20px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 20px;
  outline: 0;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 20px 20px 0 0;
  border: 0;
}

.modal-header button img {
    vertical-align: middle;
    border-style: none;
    border-radius: 0px 20px 0px 0px;
    background-color: #f08575;
    width: 70%;
}

.modal-header .btn-close{
  padding: 16px ;
  margin: -32px -37px -32px auto;
  background-color: transparent;
}


.modal-body{
padding: 0% 10%;
display: flex;
flex-direction: column;
justify-content: center;
}

.modal-body .img-pass{
  width: 40px;
  height: 50px;
  margin-left: 40%;
}

.modal-body h2{
color: #707070;
font-weight: bold;
font-family: 'Source Sans Pro';
font-size: 18px;
text-align: center;
}

.modal-body .text-pass{
  font-weight: 100;
  text-decoration: none;
  color: #707070;
  text-align: center;
  font-size: 18px;
}

.modal-body .datas-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body .datas-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
}

.modal-body .datas-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body .datas-email label{
  color: #707070;
  font-weight: bold;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  text-align: center;
}

.modal-body .datas-email input{
border: 0;
text-align: center;
color: #707070;
font-size: 18px;
border-bottom: 1px solid #707070;
padding-bottom: 2%;
}

.modal-footer {
  justify-content: center;
}

.modal-footer button{
  background-color: #F08575;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-decoration: none;
  margin-top: 2%;
  font-size: 16px;
}

/*------- STYLE EDIT MODAL PROFILE------------- */
.modal-header .btn-close-profile{
  padding: 16px ;
  margin: -32px -8px -32px auto;
  background-color: transparent;
  border: 0;
}

.modal-header .btn-close-profile img {
  vertical-align: middle;
  border-style: none;
  border-radius: 0px 20px 0px 0px;
  background-color: #f08575;
  width: 70%;
  height: 70%;
}

.modal-body .form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body .form-group label{
  color: #707070;
  font-weight: bold;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  text-align: center;
}

.modal-body .form-group input{
  color: #707070;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #707070;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  text-align: center;
}
 

.modal-footer .btn-footer-profile{
  background-color: #f08476;
  border-radius: 10px 10px 10px 10px;
  width: 30%;
  color: #fff;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  text-decoration: none;
  margin-top: 2%;
  font-size: 16px;
}

