.row-container{
    margin: 5% 7% 5% 7%;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    opacity: 1;   

}

.login-container{
    padding: 2% 0%;
}


.col-container{
    display: flex;
    flex-direction: row;
    border-radius: 31px;
    padding: 0;
}

.form-login{
    padding: 1% 15%;
}

.register-login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-right: 3%;
}

.register-login button{
    border: 0;
    margin-left: 4%;
}

.register-login button h2{
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #534C65 !important;
    padding: 0%;
    margin: 0%;
}

.register-login .img-circle-register{
    margin-left: 47%;
}

.form-login  h1{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #534C65 !important;
    font-size: 40px;
}

.form-login  p{
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 16px;
    color: #707070;
    padding: 0;
    margin: 0;
}

.form-login .icons-reds{
    display: flex;
    justify-content:space-around ; 
    margin-top: 5%;
    padding-bottom: 3%;
    border-bottom: 1px solid #70707031;
}


.form-login .icons-reds img{
    width: 85%;
    background-color: #fff;
    
}

.login-field{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
}

.login-field label{
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #707070 !important;
    margin: 0;
}

.form-login .login-field input{
   appearance: none;
   border: 0;
   border-bottom: 1px solid #707070;
   padding-bottom: 2%;
   font-family:  "Helvetica Neue";
   font-weight: 400;
   width: 96%;
   color: #707070 !important;
}

.login-field input[type='number']::-webkit-inner-spin-button, 
.login-field input[type='number']::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
 
.login-field  input[type='number'] {-moz-appearance: textfield;} 

.login-field select{
    appearance: none;
    background-image: url('../icons/arrow.png');
    background-repeat: no-repeat;
    border: 1px solid #707070;
    background-position: 97% 50%;
    border-radius: 10px;
    padding: 3%;
    font-family:  "Helvetica Neue";
    font-weight: 400;
    color: #707070 !important;
 }


.direction{
    padding-top: 0.8%;
}

.password-forget{
    margin-top: 4%;
}

.password-forget p{
font-family: 'Helvetica Neue';
font-size: 14px;
color: #544B66;
font-weight:bold;
text-decoration: underline;
}

.checkbox-register{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center
}

.form-login .checkbox-register p{
    font-size: 14px;
    font-family: 'Helvetica Neue';
    font-weight: 400 !important;
    color: #707070 !important;
    margin: 0;
    margin-left: 2%;
}


.form-login .checkbox-register p span{
    font-size: 14px;
    font-family: 'Helvetica Neue';
    font-weight: bold  !important;
    color: #F08575 !important;
}

.btn-login{
    background-color: #e8e8e8;
}

.btn-submit-two{
    width: 16%;
    margin-left: 84%;
}

.btn-submit-register-container{
    border: none;
    margin-left: 80%;
}
.btn-submit-register{
    width: 90px;
}
.btn-submit-three{
    width: 19%;
    margin-left: 81%;
}

@media (max-width: 767px){  
    .container .row-container{
        margin:0%;
        border-radius: 0px;
    }
    .container .row-container .col-container{
        flex-direction: column;
    }

    .register-login {
        display: none !important;
    }

    .btn-login ,
    .btn-submit-two,
    .btn-submit-three {
        width: 30%;
        margin-left: 30%;
        margin-top: 3%;
    }
    .btn-submit-register-container{
        border: none;
        margin-left: 45%;
        margin-top: 10px;
    }
    .btn-submit-register{
        width: 100px;
    }

    .form-login {
        padding: 0% 7% !important;
    }


}