.container-sidebar {
  background-color: #524d64 !important;
  border-radius: 0px 31px 31px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 10px;
}

.btn-menu {
  display: none;
}

.container-sidebar .container-sidebar-icons {
  background-color: #524d64;
  display: block;
  margin-bottom: 5%;
}

.container-sidebar .container-sidebar-icons .container-sidebar-item {
  background-color: #524d64;
  margin: 60% 20%;
}

.container-sidebar img {
  color: white;
  padding: 0px 13px;
  background-color: #524d64;
  width: 60px;
}

.container-sidebar-menu {
  background-color: #524d64;
}
.container-sidebar .container-sidebar-logo {
  background-color: #524d64;
  margin-top: 20%;
  margin-bottom: 10%;
}

.container-sidebar .container-sidebar-logo img {
  width: 100px;
}

.container-sidebar-item-circle {
  background-color: #524d64;
  margin-left: 40%;
  display: none;
}

.container-sidebar-item-circle img {
  background-color: #524d64;
  width: 5px;
}

/* .container-sidebar .container-sidebar-icons .container-sidebar-item:focus,
.container-sidebar .container-sidebar-icons .container-sidebar-item:hover,
.container-sidebar .container-sidebar-icons .container-sidebar-item:checked,
.container-sidebar .container-sidebar-icons .container-sidebar-item:active {
  background-color: #201f24;
  width: 100%;
  border-radius: 10px;
  margin-left: -3%;
  padding: 17%;
  margin-bottom: 0;
  opacity: 0.69;
} */
/* 
.container-sidebar-item:focus ~ .container-sidebar-item-circle,
.container-sidebar-item:hover ~ .container-sidebar-item-circle {
  display: block;
  margin-top: 0;
} */

.container-sidebar-item :hover{
  background-color: #201f24;
  padding: 10px 10px;
  border-radius: 10px;
}
.container-sidebar-item img:hover{
  width: 60px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .container-sidebar {
    background-color: #524d64 !important;
    border-radius: 0px 31px 31px 0px;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column; 
  }

  .container-sidebar .container-sidebar-icons {
    background-color: #524d64;
    display: block;
    margin-bottom: 5%;
    width: 100%;
  }

  /* .container-sidebar-item img:focus,
  .container-sidebar-item img:hover,
  .container-sidebar-item img:checked,
  .container-sidebar-item img:active {
    background-color: #201f24;
    margin: 0px;
    width: 28px;
    outline: none;
  } */

  /* .container-sidebar .container-sidebar-icons .container-sidebar-item:focus,
  .container-sidebar .container-sidebar-icons .container-sidebar-item:hover,
  .container-sidebar .container-sidebar-icons .container-sidebar-item:checked,
  .container-sidebar .container-sidebar-icons .container-sidebar-item:active {
    background-color: #d6d6da;
    width: 100%;
    border-radius: 10px;
    margin-left: -1%;
    padding: 20%;
    margin-top: 40%;
    margin-bottom: 0;
    opacity: 0.69;
    outline: none;
  } */
  .container-sidebar .container-sidebar-icons {
    background-color: #524d64;
    display: block;
    margin-bottom: 39%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container-sidebar {
    flex-direction: column;
    border-radius: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .container-sidebar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #524d64;
    padding: 0 20px 8px;
    position: relative;
  }
  .container-sidebar-menu button {
    background-color: #524d64;
    border: 0px;
    outline: none;
    display: block;
  }

  /* .container-sidebar .container-sidebar-icons .container-sidebar-item:focus,
  .container-sidebar .container-sidebar-icons .container-sidebar-item:hover,
  .container-sidebar .container-sidebar-icons .container-sidebar-item:checked,
  .container-sidebar .container-sidebar-icons .container-sidebar-item:active {
    background-color: #201f24;
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
    padding: 10% 17% 10% 17%;
    margin-top: 40%;
    margin-bottom: 0;
    opacity: 0.69;
  } */

  .container-sidebar .container-sidebar-icons {
    background-color: #524d64;
    width: 20%;
    margin-left: 80%;
    display: none;
  }

  .container-sidebar-icons.show {
    margin-top: 71px;
    position: absolute;
    right: 0;
    display: block;
    z-index: 5;
  }
  .container-sidebar .container-sidebar-icons .container-sidebar-item {
    background-color: #524d64;
    margin: 68% 3%;
  }

  .container-sidebar-item {
    padding: 0 9px 0px 18px;
}
}

@media (max-width: 530px) {
  .container-sidebar-icons.show {
    margin-top: 12%;
  }
  .container-sidebar .container-sidebar-icons .container-sidebar-item {
    padding: 0px 15px;
}
}

@media (max-width: 480px) {
  .container-sidebar-icons.show {
    margin-top: 13%;
  }
  .container-sidebar .container-sidebar-icons .container-sidebar-item {
    padding: 0px 10px;
  }

  .container-sidebar-menu {
    padding: 0% 3%;
  }
}
@media (max-width: 450px) {
  .container-sidebar-icons.show {
    margin-top: 17%;
  }
  .container-sidebar .container-sidebar-icons .container-sidebar-item {
    padding: 5px 2px;
  }

  .container-sidebar-menu {
    padding: 0% 0%;
  }
}
