.container-welcome{  
    background: url('../icons/fotografia.png') no-repeat center center scroll;
    background-size: auto;
    padding: 0px 0px 0px 0px;
    margin: 0;
    border-radius: 31px 0px 0px 31px;
  }
  

.col,
.col-4{
  padding-left: 0px;
  padding-right: 0px;
}
  .back2{
    background: url('../icons/morado.png') no-repeat  center center scroll;
    width: 100%;
    height: 100%;
    border-radius: 31px 0px 0px 31px;
  }

  .row-link{
    display: none !important;
  }


  .row-icons-logo{
      display: flex;
      flex-direction: row;
      background-color: #5c556d00;
      width: 80%;
      padding: 10% 0% 0% 20%;

  }
  
  .row-icons-logo img{
    width: 40%;
    background-color: #5c556d00;
  }
  
  .row-title-welcome{
    margin-top: 70%;
    padding: 0% 20% 0% 20%;
    background-color: #5c556d00;
    flex-direction: column;
  }
  

  .row-title-welcome >h1,
  .row-title-welcome >p{
    background-color: #5c556d00;
  }

  .row-title-welcome >h1{
    width: 100%;
    font-size: 35px;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    color: #EFF1F8;
    background-color: #5c556d00;
  }

  .row-title-welcome >hr{
    width: 15%;
    border-width: 2px;
    background-color:  #e49202;
  }


  .row-title-welcome >p{
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color:#EFF1F8;
    margin: 0;
    width: 100%;
  }

  .social-networks{
    background-color: #5c556d00;
    margin-top: 100%;
  }

  .social-networks img{
    margin-left: 5%;
    background-color: #5c556d00;
  }

  
@media (max-width: 767px){
  .container-welcome {
    background: url(/static/media/fotografia.e652748c.png) no-repeat center center scroll;
    background-size: cover;
    padding: 0px 0px 0px 0px;
    margin: 0;
    border-radius: 0px 0px 0px 0px;
}
  
.back2 {
  background: url(/static/media/morado.6f57bc40.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 0px;
}


.row-link{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5c556d00;
  margin-left: 30%;
}

.row-link button{
  border: 0;
  background-color: #5c556d00;
  margin-left: 53%;
}

.row-link button h2{
font-size: 20px;
font-family: 'Source Sans Pro';
font-weight: bold;
color: #fff !important;
background-color: #5c556d00;

}

.row-icons-logo {
  padding: 5% 0% 0% 6%;
  width: 65%;}

.row-title-welcome {
  margin-top: 10%;
  padding: 0% 20% 0% 10%;
  background-color: #5c556d00;
  flex-direction: column;
}

.social-networks {
  background-color: #5c556d00;
  margin-top: 10%;
}

.form-login .icons-reds img {
  width: 95%;
  background-color: #fff;
}
  
}
  

@media (max-width: 476px){
  .row-link{
    margin-left: 5%;
  }

  .row-link-button{
    margin-left: 48%;
  }
}

@media (max-width: 390px){
  .row-link{
    margin-top: 2%;
  }
}

 